<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>

<body>
<div class="container">

<!--
   If there are any warnings or other messages from a prior action,
   they appear above the rest of the content, just until the next
   action.
  -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="row">
    <h2>Create Meeting</h2>
    <br><br>
    <form action="/setrange" method="post">
        <fieldset>
            <legend>Info</legend>
            <label for='creator-name'>Your name:</label>
            <br>
            <input size='30' id='creator-name' name='creator-name' />
            <br>
            <br>
            <label for='meeting-desc'>Meeting description:</label>
            <br>
            <textarea id='meeting-desc' name='meeting-desc'></textarea>
        </fieldset>
        <br>
        <fieldset>
            <legend>Meeting Length</legend>
            <label for='meeting-hrs'>Hours: </label>
            <input type='number' id='meeting-hrs' name='meeting-hrs' value='0' />
            <br>
            <label for='meeting-mins'>Minutes: </label>
            <input type='number' id='meeting-mins' name='meeting-mins' value='0' />
        </fieldset>
        <br>
        <fieldset>
            <legend>Time Constraints</legend>
            <p>Select the date range within which your meeting should be scheduled.<br>The time range applies to each day.</p>
            <label for='daterange'>Date range: </label>
            <input type="text" name="daterange" id='daterange'
                {% if session.daterange is defined %}
                     value="{{session.daterange}}"
                {% endif %}
                class="pull-down input-box"
            >
            <br>
            <label for='begin_time'>Time range: </label>
            <input type="time" class="input-box" id="begin_time" name="begin_time" value="{% if session['begin_time'] is defined %}{{ session['begin_time'] | fmttime }}{% else %}09:00{% endif %}" />
            -
            <input type="time" class="input-box" id="end_time" name="end_time" value="{% if session['end_time'] is defined %}{{ session['end_time'] | fmttime }}{% else %}17:00{% endif %}" />
        </fieldset>
        <br>
        <br>
        <input type="submit" value="Continue" />
    </form>
</div>

</div>  <!-- container (for bootstrap) -->
</body>

<style>
fieldset {
    border: 1px solid black;
    width: 520;
    padding: 10px 10px;
}
legend {
    width: auto;
    padding: 0 10px;
}

label {
    font-size: 14;
}

input[type=number] {
    width: 80px;
}

#meeting-desc {
    width: 450px;
    height: 60px;
}

.input-box {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

h2 {
    text-decoration: underline;
}
</style>

<script>
$(document).ready(function() {
  $('#events-btn').click(function() {
      location.href = '/events';
  });

  $('#free-times-btn').click(function() {
      location.href = '/freetimes';
  });
});

//Daterange stuff
$(function() {
$('input[name="daterange"]').daterangepicker(
  {    ranges: {
         'Today': [moment(), moment()],
         'Tomorrow':[moment().add(1, 'days'),
                     moment().add(1, 'days')],
         'This week':[moment(), moment().endOf('week')],
         'Next week':[moment().add(7, 'days').startOf('week'),
                      moment().add(7, 'days').endOf('week')],
         'This month':[moment(), moment().endOf('month')],
         'Within two weeks':[moment(),moment().add(15, 'days')]
      }}
     );
  });
</script>
</html>
