<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
  <title>Appointments</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/static/css/busy.css" />

  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />

  <!-- jquery from a content distribution network; probably cached -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- moment.js -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>

<body>
    <div class="container">
        <input type='hidden' id='meeting_id' value="{{ session.meeting_id }}" />
        <input type='hidden' id='user_id' value="{{ session.user_id }}" />

        <div id='navbar'>
            <button type='button' id='calendars-btn'>Calendars</button>
            <button type='button' class='nav-active' id='events-btn'>Events</button>
            <button type='button' id='free-times-btn'>Free Times</button>
        </div>

        <h2>Events</h2>
        <br>
        <br>
        <div id='event-list'></div>
    </div>
</body>

<script>
$(document).ready(function() {
  $('#calendars-btn').click(function() {
      location.href = '/calendars';
  });

  $('#free-times-btn').click(function() {
      location.href = '/freetimes';
  });

  displayEvents();
});

function displayEvents() {
    var meeting_id = $('#meeting_id').val();
    var user_id = $('#user_id').val();
    if (meeting_id != '' && user_id != '') {
        // Get users events from database and display them
        $.getJSON('/_get_events', { meeting_id: meeting_id, user_id: user_id },
            function(data) {
                var html = "";
                html += "<p>Select any events that can be moved to accomodate the meeting.</p>";
                html += "<button type='button' id='select-all-ev'>Select All</button>";
                html += "<button type='button' id='deselect-all-ev' style='margin-left: 5px'>Deselect All</button><br><br>";
                html += "<form action='remove_events' method='post'>";

                for (var i=0; i < data.events.length; i++) {
                    var e = data.events[i];

                    html += "<input type='checkbox' class='ev-checkbox' name='" + e.id + "' id='" + e.id + "' />";
                    html += "<label for='" + e.id + "'><strong>" + e.summary + "</strong></label>";
                    html += "<br>";
                    html += "from " + fmtDt(e.start) + " to " + fmtDt(e.end);
                    html += "<br><br>";
                }

                html += "<br><button type='submit' id='remove-events-btn'>Remove Selected Events</button></form>";
                html += "<br><button type='button' id='continue-btn'>Continue</button>";

                $('#event-list').html(html);

                // Button handlers
                $('#select-all-ev').click(function() {
                    toggleCheckboxes($('.ev-checkbox'), true);
                });
                $('#deselect-all-ev').click(function() {
                    toggleCheckboxes($('.ev-checkbox'), false);
                });

                $('#continue-btn').click(function() {
                    location.href = '/freetimes';
                });
            }
        );
    } else {
        $('#event-list').append("<p>No events to show!</p>");
    }
}

function fmtDt(dt) {
  return moment(dt).format('hh:mm A on MM/DD');
}

function toggleCheckboxes(checkboxes, value) {
  for (var i=0; i < checkboxes.length; i++) {
    checkboxes[i].checked = value;
  }
}
</script>

<style>
.ev-checkbox {
  margin-right: 5px;
}

h2 {
    text-decoration: underline;
}
</style>

</html>
