<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>

<body>
    <div class='container'>
        <h2>Meeting Scheduler</h2>
        <br><br>

        <p class='about about-header'>Schedule meetings with colleagues or friends!</p>
        <p class='about'>We make it easy by using your Google Calendar data to find when you are free. Click the button below to get started; when you are done you will receive a link you can share with those you want to meet with.</p>
        <button type='button' id='create-meeting-btn'>Create a new meeting</button>
    </div>
</body>

<script>
$(document).ready(function() {
    $('#create-meeting-btn').click(function() {
        window.location = '/create';
    });
});
</script>

<style>
#create-meeting-btn {
    font-size: 32;
    margin-top: 5px;
}

.about {
    width: 500px;
}

.about-header {
    font-size: 20;
    font-weight: 600;
}

h2 {
    text-decoration: underline;
}
</style>

</html>
